.topic-box-pc{
    margin-top:3%;
    background-color: #ffffff ;
    border-radius:7px;
}
.user-box-pc{
    margin-top : 2%;
    border-radius:7px;
}
.user-detail{

    border-radius:7px;
    background-color: #ffffff ;
}
.crown{
    display: block;
    margin:auto;
    margin-bottom:5%;
}