
.particles_home{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0F1331;
    z-index: -1;
}
.register_button{
    color: #fff;
    text-decoration: none;
    border: #ccc 1px solid;
    padding: 7px 13px;
    border-radius: 8px;
    line-height: 4em;
}
.btext{
    color: #f9f3f4;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    line-height: 0.4em;
}
.intro
{
	text-align: center;
	padding-top: 13%;
	padding-bottom: 13%;
	margin-bottom: 50px;
}
